:root {
  --side-background-color: rgb(39, 39, 39);
}

/* For the whole site, eliminate margin and padding to avoid borders.*/
* {margin: 0; padding: 0; font-family: Georgia;}

/* Top navigation style. */
#title-banner {
    height: 100px;
    background-color: rgb(9, 20, 51);
    color: white;
}
#title-banner h1 {
    padding: 30px 20px;
}
#top-nav-bar ul {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    list-style-type: none;
    padding: 0;
    height: 50px;
    margin: 0;
    overflow: hidden;
    color: white;
    background-color: rgb(11, 14, 36);
}
#top-nav-bar li {
    border-right: 2px solid white;
    min-height: 50px;
    float: left;
    background-color: black
}
#top-nav-bar li:hover{
    border-right: 2px solid white;
    min-height: 50px;
    float: left;
    background-color: dimgrey
}
#top-nav-bar li:hover.active {
    border-right: 2px solid white;
    min-height: 50px;
    float: left;
    background-color: dimgrey
}
#top-nav-bar a {
    display: block;
    padding: 16px 16px;
    color: white;
    text-decoration: none;
}
#top-nav-bar li.active {
    background-color: grey;
}
#top-nav-bar input {
    font-size: 18px;
    padding: 8px 8px;
    margin: 5px;
    float: right;
    width: 150%;
    border: 1px solid #ddd;
}
#dropdown {
    display: block;
    background-color: black;
}
#dropdown a:hover {
    background-color: grey;
}
#dropdown-content {
    position: relative;
    display: block;
}
#dropdown li:hover {
    display: inline-block;
    position: absolute;
}
#dropdown-content a {
    display: block;
    background-color: dimgrey;
}
/* Side */
#side-nav {
    width: 18%;
    background: var(--side-background-color);
    overflow-x: hidden;
    margin-left: 15px;
    margin-top: 15px;
}
#side-banner1 {
  width: 30px;
  top: 0;
  height: 100%;
  position: fixed;
  background-color: var(--side-background-color);
  z-index:-1;
}
#side-banner2 {
  width: 18%;
  top: 0;
  margin-left: 30px;
  height: 100%;
  position: fixed;
  background-color: var(--side-background-color);
  z-index:-1;
}
#side-nav h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align:center;
}
#side-nav2 {
    width: 18%;
    background: var(--side-background-color);
    overflow-x: hidden;
    margin-left: 15px;
    margin-top: 15px;
}
#side-nav2 h1 {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    text-align:center;
}
#side-nav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding-left: 15px;
    color: white;
}
#side-nav2 a:hover {
    color: grey;
}
#side-nav a:hover {
    color: grey;
}
.at-top {
    position: absolute;
}
.sticky {
    position: fixed;
    top: 0px;
}
.s-b-sections a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding-left: 15px;
    color: white;
}
.s-b-sections-in-view a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding-left: 15px;
    color: #bbb8b8;
}

/* Page content */
.back-color{
    background-color:rgb(242, 249, 250);
}
#page-content {
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 20px;
}
#page-content h1 {
    text-align: center;
}
#page-content h2 {
    margin-top: 5%;
    margin-bottom: 2.5%;
}
#page-content table {
    display: inline-block
}
#full-page {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
}
#full-page h1 {
  text-align: center;
}
#full-page h2 {
  margin-top: 5%;
  margin-bottom: 2.5%;
}
#full-page table {
  display: inline-block
}
/* Explain words */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(8, 10, 31);
  color: #fff;
  bottom: 100%;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.back-to-top {
    margin: 20px;
    text-align: right;
}
/* Tables */
table.c {
    margin-bottom:15%;
    display: block;
    width: 100%;
}
td.c {
  border: 1px solid #222638;
  text-align: left;
  padding: 8px;
  width: 50%;
}
th.c {
  width: 50%;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #1c3649;
  color: white;
}
td.c1 {
  border: 1px solid #222638;
  text-align: left;
  padding: 8px;
  background-color: rgb(218, 234, 245);
}
/* Table section title */
table.s {
  border-collapse: collapse;
  margin-left:15%; 
  margin-right:15%;
}
td.s {
  border: 1px solid #ffffff;
  background-color: #27506d;
  color: white;
  text-align: left;
  padding: 8px;
}
th.s {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  background-color: #1c3649;
  color: white;
}
/* Topic selection */
.tsbtn {
  background-color: #222638;
  color: white;
  padding: 14px 22px;
  border: none;
  font-family: "OriginalFont";
  font-size: 100%;
  text-decoration: none;
}
.tsbtn:focus {
  background-color: white;
  color: black;
}
.ts {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 0%;
  display: inline-block;
}
.ts-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
}
.ts-content a {
  color: white;
  font-size: medium;
  background-color: rgb(49, 49, 49);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  font-family: "OriginalFont";
  font-size: 75%;
}
.ts-content-unroll a {
  background-color: rgb(80, 80, 80);
  color: white;
}
.ts-content-unroll {display: block;}
.ts:hover .tsbtn {background-color: rgb(80, 80, 80);}

.ts-content a:hover {
  background-color: rgb(80, 80, 80);
  color: white;}
.ts:hover .ts-content {display: block;}
/* Language selection */
.lsbtn {
  background-color: #000000;
  color: white;
  padding: 8px 40px;
  border: none;
  font-family: "OriginalFont";
  font-size: 120%;
  text-decoration: none;
  width: 100%;
}
.ls {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin-left: 0%;
  display: inline-block;
}
.ls-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}
.ls-content a {
  color: white;
  font-size: medium;
  background-color: rgb(49, 49, 49);
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  display: block;
}
.ls-content a:hover {
  background-color: rgb(80, 80, 80);
  color: white;}
.ls-content a:focus {
  background-color: rgb(80, 80, 80);
  color: white;}
.ls:hover .ls-content {display: block;}
.ls:focus-within ul .ls-content {display: block;}
.ls:hover .lsbtn {background-color: rgb(80, 80, 80);}
